.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-header);
  background-color: var(--color-dark);
}

.header__logo {
  cursor: pointer;
}

.header__favs {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  gap: 0.5rem;
  color: var(--color-light);
}
